body{
    background-color: #2B2B2B;
    font-family: "Montserrat", sans-serif;
}

.navbar{
    padding: 20px;
    background-color: #3B3B3B;
}

.nav-parent a{
   height: 40px;
}

.nav-parent span{
    color: #A259FF;
    font-weight:700;
    margin-left: 5px;
}

.nav-link:hover{
    border-bottom: 2.5px solid #A259FF;
}

.navbar-toggler{
    background-color: #A259FF;
}

#project{
    margin-top: 100px;

}

#project .cardContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 5px;
}

.cardContent{
    background-color: #3B3B3B;
    padding: 40px 20px;
    border-radius: 10px;
    color: #fff;
}

.cardContent :nth-child(1){
    padding-bottom: 10px ;
    text-align: center;
}

.cardContent :nth-child(2){
    padding-bottom: 20px ;

}

.cardContent img{
    width: 400px;
    transition: 0.5s;
}

.cardContent img:hover{
    transform: scale(0.9);
}

.cardContainer a{
    text-decoration: none;
}